# VITE_API_BASE_URL=http://localhost:5000/api/v1
# VITE_FILE_BASE_URL=http://localhost:5000

VITE_API_BASE_URL=https://erp-backend-alpha-lyart.vercel.app/api/v1
VITE_FILE_BASE_URL=https://erp-backend-alpha-lyart.vercel.app